{% extends 'base.admin.html.twig' %}

{% block title %}Gestion des catégories
{% endblock %}

{% block body %}
	<div class="container my-2">
		<div class="row">
			<div class="col-12">
				<h1>Voici la liste des catégories :</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<table class="table mt-2">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nom de la catégorie</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% for category in categories %}
							<tr>
								<th scope="row">{{category.id}}</th>
								<td>{{category.name}}</td>
								<td>
									<a href="{{ path("categories_edit", {'id': category.id}) }}" type="button" class="btn btn-outline-success">Editer</button>
								</td>
								<td>
									<a href="{{ path("categories_delete", {'id': category.id}) }}" type="button" class="btn btn-outline-danger">Supprimer</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a href="{{ path("categories_create") }}" type="button" class="btn btn-info">Créer une catégorie</a>
			</div>
		</div>
	</div>
{% endblock %}
