{% extends 'base.html.twig' %}

{% block title %}
	{{post.title}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="shadow p-3 mb-5 bg-body rounded mt-4">
					<div>
						<h1>{{post.title}}</h1>
						<p class="text-muted">
							{{post.description}}
						</p>
					</div>
					<p class="text-justify mx-3">
						{{post.content}}
					</p>
					<div class="d-flex justify-content-around">
						<p class="text-black-50">
							Créé le :
							{{post.createdAt|date("m/d/Y G:i")}}
						</p>
						<p class="text-black-50">
							Modifié le :
							{{post.updatedAt|date("m/d/Y G:i")}}
						</p>
					</div>
					<div>
						<span class="badge badge-secondary">Catégories :</span>
						{% for category in post.categories %}
							<span class="badge badge-info">{{ category.name }}</span>
						{% endfor %}
					</div>
					<div class="mt-3 border-top">
						<p class="h3 mt-2">Commentaires</p>
						<div class="border-bottom py-2">
							{% for comment in post.comments|filter(comment => comment.valid==1) %}
								<div>
									<p class="text-justify mx-4 mb-0">
										<strong>
											<u>{{ comment.username }}
												:</u>
										</strong>
										{{ comment.content }}
									</p>
									<p class="text-black-50 mx-4">
										Commentaire posté le :
										{{ comment.createdAt|date("m/d/Y G:i") }}
									</p>
								</div>
							{% else %}
								<small>Il n'y a aucun commentaire pour ce post</small>
							{% endfor %}
						</div>
						<div class="border-bottom py-2">
							<a href="{{ path("comments_create", {'slug': post.slug}) }}" type="button" class="btn btn-info">Ajouter un commentaire</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
